@import 'reset';
$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";

@import 'font-awesome';
@import 'bourbon';
@import 'neat';

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Your SASS Journey Starts Here

$border-color: #BFBDBB;
$border-hover: #5A5552;
$background-color: #F5F5F1;
$etsy-orange: #f45800;
$etsy-blue: #0192B5;
$etsy-blue-hover: #F0FBFD;

body {
    background: $background-color;
}

.outter-container {
    @include outer-container(980px);
    margin: auto;
}
.sidebar {
    @include span-columns(3);
}
.content {
    @include span-columns(9);
    @include omega();
    @include shift(4);
}
nav {
    position: relative;
    height: 80px;
    background: white;
    border-bottom: 1px solid $border-color;
    box-shadow: 0px 3px 8px -6px $border-hover;
    font-family: HelveticaNeue, Helvetica, sans-serif;
    padding: 0 10%;
    margin-bottom: 50px;

    .outter-container {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    h1 {
        float: left;
        color: $etsy-orange;
        font-family: serif;
        font-size: 2em;
    }
    a {
        padding: 10px;
        color: $etsy-blue;
        border-radius: 3px;
        text-decoration: none;

    }
    a:nth-of-type(1) {
        color: $border-hover;
        border: 1px solid $border-color;
        border-radius: 3px;

        span:after {
            position: relative;
            top: 13px;
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 6px 4px 0 4px;
            border-color: $border-color transparent transparent transparent;
        }
    }
    a:nth-of-type(1):hover {
        border-color: $border-hover;
    }
    .search {
        float: left;
        border: 1px solid $border-color;
        border-radius: 3px;
        input {
            margin: 0;
            background: $background-color;
            padding: 10px;
            border: none;
        }
        button {
            background: $etsy-blue;
            color: white;
            border: none;
            margin: 0;
            margin-left: -5px;
            border-radius: 3px;
            padding: 10px;
        }
        button:hover {
            background: lighten($etsy-blue, 2%)
        }
    }
    .account {
        float: right;
        a {
            color: $etsy-blue;
            border: none;
        }
        a:nth-of-type(2) {
            border-radius: 3px;
            border: 1px solid $etsy-blue;
        }
        a:nth-of-type(2):hover {
            background: $etsy-blue-hover;
        }
        a:last-of-type {
            color: $border-hover;
        }
    }
}
article {
    @include span-columns(4);
    @include omega(3n);
    border: 1px solid $border-color;
    border-radius: 3px;
    max-width: 225px;
    margin: 5px;
    font-family: HelveticaNeue, Helvetica, sans-serif;
    font-size: 0.8em;
    background: white;

    img {
        width: 100%;
    }
    .top {
        position: relative;
    }
    .wishlist, .favorite {
        display: none;
    }
    &:hover .wishlist, &:hover .favorite {
        display: block;
    }
    .wishlist {
        position: absolute;
        top: 0;
        right: 0;
        color: $border-color;
        background: white;
        margin: 2px;
        padding: 2px;
        border-radius: 2px;
        border: 1px solid $border-color;
        .fa:after {
            position: relative;
            top: 12px;
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 6px 4px 0 4px;
            border-color: $border-color transparent transparent transparent;
        }
    }
    .wishlist:hover {
        color: $border-hover;
        border-color: $border-hover;
        .fa:after {
            border-color: $border-hover transparent transparent transparent;
        }
    }
    .favorite{
        position: absolute;
        top: 0;
        right: 30px;
        color: $border-color;
        background: white;
        margin: 2px;
        padding: 2px;
        border-radius: 2px;
        border: 1px solid $border-color;
    }
    .favorite:hover {
        color: $border-hover;
        border-color: $border-hover;
        .fa:after {
            border-color: $border-hover transparent transparent transparent;
        }
    }

    .description {
        padding: 5px;
        h2 {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-bottom: 5px;
        }
    }
    a {
        text-decoration: none;
        color: black;
    }
    a:last-of-type {
        color: $border-color;
    }
    a:last-of-type:hover {
        text-decoration: underline;
    }
    .price {
        color: green;
        float: right;
    }

}
